{% extends "base.html" %}

{% block title %}Roster - Lift FTB{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Roster</h1>
    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Total Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="username-cell">{{ user.username }}</td>
                        <td>{{ user.total_score }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
